{% extends "layout.twig" %}
{% block title %} Actualité | {{parent()}} {% endblock %} 
{% block ariane %} {{parent()}} > actualité{% endblock %} 
{% block body %}	
<section>
    {% for item in items %}
		<blockquote>
		  <p><a href="/article/{{item._id}}">{{item.title}}</a> <small>publié le {{item.published}} par {{item.author}}</small></p>
		</blockquote>
    {% endfor %}
</section>
{% endblock %}