{% extends "layout.twig" %}
{% block title %}  {{item.title}} | {{parent()}} {% endblock %} 
{% block ariane %} {{parent()}} > <a href="/article">articles</a> > {{item.title}}{% endblock %} 
{% block body %}	
<section>
	<article>
		<h1>{{item.title}}</h1>
		{% if item.picture %}<p class="text-center"><img src="{{item.picture}}" class="img-thumbnail img-responsive" alt="{{item.title}}"></p>{% endif %}
		<p><strong>{{item.resume}}</strong></p>
		<p>{{item.content}}</p>
		<p>publié le {{item.published}} par {{item.author}} </p>
	</article>
</section>
{% endblock %}
